.guestHome-container {    
    height: 100vh;
    margin: 10px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.guestHome-container h1 {
    font-size: 4rem;
    color: var(--light-green);
}

.guestHome-container p {
    color: var(--darker-green);
}

.accessAccount-container {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .guestHome-container {
        flex-direction: row;
    }
    .accessAccount-container {
        margin-left: 20px;
        margin-top: 0;
    }
}

.boxController {
    display: flex;
    -webkit-box-shadow: var(--login-box-shadow);
    box-shadow: var(--login-box-shadow);
    border-radius: 6px;
    margin-bottom: 2em;
    align-items: center;
    
    transition: visibility 0.2s ease-out;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

.selectedController {
    transition: border 0.5s ease-out;
    border-bottom: 2px solid darkgreen;
}

.boxContainer {
    box-shadow: var(--login-box-shadow);
    border-radius: 6px;
    padding: 25px;
}


.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 1.1em;
    font-size: 1.375rem;
    border-bottom: 2px solid darkgreen;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loginInput {
    border-radius: 3px;
    border: 1px solid darkgreen;
    transition: border 0.4s ease-out;
    padding: .4em;
    font-size: 1.1rem;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.loginInput:hover {
    border: 2px solid var(--darker-green);
}

.loginInput:focus,
.loginInput:active {
    border: 2px solid var(--darker-green);
    box-shadow: var(--box-shadow);
}

.loginInput::placeholder {
    font-size: 1rem; 
    color: rgba(15, 15, 15, 0.4);
}

.loginBtn {
    padding: 2px 30px;
    border: 0;
    font-size: 1.125rem;
    border-radius: 3px;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 2em;
    border: 3px solid darkgreen;
    transition: var(--transition);
    cursor: pointer;
}

.loginBtn:hover,
.loginBtn:focus {
    background-color: darkgreen;
    color: white;
}

.passingError {
    color: #e74c3c;
    font-size: .9rem;
    padding-left: .1em;
}