/*
=============== 
Variables
===============
*/

:root {
    /* colors */
    --light-green: #2f9e13;
    --dark-green: rgb(0, 100, 0);
    --darker-green: #1b3b13;
    --light-light-grey: rgba(15, 15, 15, 0.03);
    --light-grey: #efefef;
    --dark-grey : rgba(14, 17, 13, 0.75);
    --black: black;
    --error-red: #e74c3c;
    --clr-white: #fff;
    
    --transition: all 0.3s linear;
    --box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    --login-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    --toolbar-text-shadow: 0px -2px 2px rgba(40, 40, 40, 1);

    --container-border-radius: 6px;
    --button-border-radius: 3px;
    --round-radius: 50%;
  }

body {
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
    font-weight: 300;
}


h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: var(--darker-green);
    margin-top: 0;
}


h1 {
    font-size: 2rem;
    margin: 0;
}


strong {
    font-weight: 700;
}

input {
    border-radius: 3px;
    border: 1px solid darkgreen;
    transition: border 0.4s ease-out;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

a {
    color: var(--light-green);
}

a:hover,
a:focus {
    color: var(--darker-green);
}

button {
    font-family: 'Ubuntu', sans-serif;
}


ion-icon {
    width: 1.2em;
    height: 1.2em;
}

/* GENERAL CLASSES */

.central-container {
    margin: 0 auto;
    width: 95%;
    max-width: 600px;
}

.main-container {
    margin-top: 60px;
}

@media (min-width: 550px) {
    .main-container {
        margin-top: 90px;
    }
}


.flex {
    display: flex;
    /* justify-content: space-between; */
}

.bottomBorder {
    border-bottom: 2px solid darkgreen;
}

.textWrap {
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

/* data container login / profile / teams */
.boxContainer {
    border-radius: var(--container-border-radius);
    padding: 5px; 
}

@media (min-width: 500px) {
    .boxContainer {
        padding: 25px;
        box-shadow: var(--login-box-shadow);
    }
}

.boxContainer-header {
    text-align: center;
    padding: 5px;
    margin-bottom: 1.1em;
    font-size: 1.5rem;
}

.user-image {
    object-fit: cover;    
    border-radius: 50%;
}

.team-image {
    object-fit: cover;    
    border-radius: 20%;
}

.greenBtn {
    padding: 2px 30px;
    font-size: 1.125rem;
    border-radius: var(--button-border-radius);
    background-color: var(--light-grey);
    border: 3px solid darkgreen;
    transition: var(--transition);
    cursor: pointer;
    
}

.greenBtn:hover,
.greenBtn:focus {
    background-color: darkgreen;
    color: white;
}

.greyBtn {
    font-size: 1.125rem;
    border: none;
    border-radius: var(--button-border-radius);
    background-color: var(--light-grey);
    box-shadow: var(--toolbar-text-shadow);
    transition: var(--transition);
    cursor: pointer;
}

.greyBtn:hover,
.greyBtn:focus {
    background-color: var(--dark-grey);
    color: white;
}
