


.toolbar{
    width: 100%;
    background: var(--dark-green);
    border: none;
    text-shadow: var(--toolbar-text-shadow);
    color: var(--clr-white);
    font-weight: 300;

    position: fixed;
    top: 0;
    /* above all */
    z-index: 99;
}

.toolbar-base {
    align-items: center;
    justify-content: space-between;

    padding: 0 .5em;
}

nav{
    flex-direction: column;
    
    box-shadow: var(--box-shadow);
}

.toolbar-logo {
    padding: 4px;
}


.menu-icon {
  cursor: pointer;
}

.logo a{
    color: white;
    font-size: 2rem;
    text-decoration: blink;
    text-shadow: var(--toolbar-text-shadow);

}


.toolbar-navigation-items ul{
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: darkolivegreen;
    margin: 0;
    padding: 0;
}
.toolbar-navigation-items li{
   padding: 0 .5em;
   overflow: hidden;
   height: 0;
   margin: 0;

   transition: var(--transition);
}


.show-navigation-items ul {
    margin: 0.1em 0;
    padding-top: 0.7em;
}

.show-navigation-items li {   
    height: 2em;
}


.toolbar-navigation-items a{
    color: white;
    text-decoration: blink;
    display: block;
    transition: var(--transition);
}

@media (min-width: 550px) {

    .menu-icon {
        display: none;
    }

    .toolbar-navigation-items {
        padding: 0 .5em;
    }

    .toolbar-navigation-items li {
        margin: 0;
        height: auto;
    }

    nav {
        align-items: center;
        justify-content: space-between;
    }

    .toolbar-navigation-items ul {
        background-color: darkgreen;
    }

    .toolbar-navigation-items ul,
    nav{
        flex-direction: row;
    }

    nav {
        height: 54px;
    }

    .logo{
        margin-left: 1rem;
    }

    .show-navigation-items ul {
        margin: 0;
        padding-top: 0;
    }
}