html {
    /* 100% font size == 16px, 62.5% == 10px */
    font-size: 100%;
}

img {
    max-width: 100%;
    /* centering the image */
    display: block;
}


/*********
  Topography 
  *********/


.site-title {
    width: 60%;
    max-width: 500px;
}

/* the logo subtitle */
.subtitle {
    font-size: 1rem;
    font-weight: 700;
    color: #2f9e13;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
}

.article-info {
    font-size: .875rem;
}

.article-info {
    margin:  0;
}

.widget-title,
.widget-recent-post-title {
    font-size: 1rem;
}

.widget-title {
    font-family: 'Ubuntu' sans-serif;
    font-weight: 700;
}


/*******
  Layout
   *******/


.posts-container {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
}

.posts-container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*TODO*/
footer {
    background: #1b3b13;
    color: white;
    text-align: center;
    padding: 3em 0;

}

@media (min-width: 675px) {
    .posts-container-flex {
        flex-direction: row;
    }

    main {
        width: 70%;
    }

    aside {
        width: 28%;
        min-width: 200px;
    }

    header {
        text-align: left;
    }
}

/****
Articles
      **/
.article-recent {
    padding: 1em;
    margin-bottom: 1em;

    box-shadow: var(--box-shadow);
}

.article-recent-main {
    order: 2;
    margin: 1.5em 0 .5em 0;
}

.article-recent-secondary {
    order: 1;
}

.article-recent-author {
    flex-direction: row;
    justify-content: start;
    /* align-items: center; */
}

.article-recent-author h3 {
    margin: 0;
}

.article-recent-author .name-date {
    margin: 0 .5em 0 .5em;

}

.article-image {
    width: 40px;
    height: 40px;
    object-fit: cover;    
    border-radius: 50%;
}

.comment-container {
    flex-direction: row;
    justify-content: center;
}

.comment-input {
    width: 100%;
}

.comment-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    object-fit: cover;    
    border-radius: 50%;
}



@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;

    }

    .article-recent-main {
        width: 68%;
        margin: 0;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-recent-author {
        /* justify-content: center; */
        flex-direction: column;
    }

    .article-image {
        width: 90px;
        height: 90px;
        order: -2;
    }

    .article-info {
        order: -1;
    }
}

@media (min-width: 1000px) {
    .article-recent-author {
        flex-direction: row;
    }

}


/*****
  Widgets
  *****/

.sidebar-widget {
    border: 20px solid #efefef;
    padding: 1em;
    margin-bottom: 2em;
}

@media (min-width: 675px) {
    .sidebar-widget {
      margin-left: 1em;
    }
}

.widget-recent-post {
border-bottom: #707070 1px solid;
margin-bottom: 1em;
display: flex;
flex-direction: column;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-image {
margin-bottom: 1em;
order: -1;
}
