.profileBox {
    color: var(--black);
    flex-direction: column;
    padding-bottom: 1.344444444em;
}

.logoutBtn {
    margin-top: 2em;
    width: 100%;
}

.profile-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1em;
}

@media (min-width: 500px) {
    .profile-image {
        width: 150px;
        height: 150px;
    }
}

.profileData {
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 1em 0;
}

.profileData-placehold {
    margin-right: .5em;
}

.profileData-text {
    margin-right: .5em;
}

.invite-image {
    width: 57px;
    height: 57px;
    margin-right: .5em;
}
