.profileBox {
    color: var(--black);
    flex-direction: column;
    padding-bottom: 1.344444444em;
}

.logoutBtn {
    margin-top: 2em;
    width: 100%;
}

.profile-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1em;
}

@media (min-width: 500px) {
    .profile-image {
        width: 150px;
        height: 150px;
    }
}

.profileData {
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 1em 0;
}

.profileData-content {
    justify-content: space-between;
    width: 66.5%;
}

.profileData-placehold {
    margin-right: .5em;
}

.profileData-text {
    margin-right: .5em;
}

.invite-image {
    width: 57px;
    height: 57px;
    margin-right: .5em;
}


/* CONTACT  */
.contactBox {
    flex-direction: column;
    color: var(--black);
    padding-bottom: 1.344444444em;
    align-items: center;
    justify-content: space-between;

    background-color: var(--light-light-grey);
    /* margin: 1em 0; */
    margin-bottom: 1em;
    padding: 0.3em;
    border-radius: var(--button-border-radius);
}

.contactBox-header {
    color: var(--black);
    text-align: center;
    font-weight: 700;
    padding: 5px;
    font-size: 1.2rem;
}


.contact-image {
    width: 80px;
    height: 80px;
    margin: 0 .5em;
}

.contact-info {
    width: 100%;
}

@media (min-width: 500px) {
    .contactBox {
        flex-direction: row;
    }

    .contact-info {
        width: calc(90% - 150px);
    }

    .contact-image {
        width: 100px;
        height: 100px;
    }

}