.flex {
    display: flex;
    justify-content: space-between;
}


.bottom-border {
    border-bottom: 2px solid darkgreen;
}

.textWrap {
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;

}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 36px;
    min-height: 500px;
    width: 100%;
    max-width: 500px;
}

.profileContentContainer {
    border-radius: 6px;
    padding: 5px;   
}

@media (min-width: 500px) {
    .profileContentContainer {
        padding: 25px;
        box-shadow: var(--login-box-shadow);
    }
}

.profile-header {
    text-align: center;
    padding: 5px;
    margin-bottom: 1.1em;
    font-size: 1.5rem;
}

.profileBox {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.344444444em;
}



.changeBtn {
    padding: 0 10px;
    border: 0;
    font-size: 1.125rem;
    border-radius: 3px;
    background-color: var(--light-grey);
    box-shadow: var(--toolbar-text-shadow);
    /* border: 3px solid darkgreen; */
    transition: var(--transition);
    cursor: pointer;
}

.chengeBtn:hover,
.changeBtn:focus {
    background-color: darkgreen;
    color: white;
}



.subPageBtn {
    padding: 2px 30px;
    border: 0;
    font-size: 1.125rem;
    border-radius: 3px;
    background-color: var(--light-grey);
    margin-top: 2em;
    border: 3px solid darkgreen;
    transition: var(--transition);
    cursor: pointer;

    width: 100%;
}

.subPageBtn:hover,
.subPageBtn:focus {
    background-color: darkgreen;
    color: white;
}

.profile-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1em;
    object-fit: cover;    
    border-radius: 50%;
}

@media (min-width: 500px) {
    .profile-image {
        width: 150px;
        height: 150px;
    }
}

.profileData {
    font-size: 1.2rem;
    margin: 1em 0;
}

.profileData-placehold {
    margin-right: .5em;
}

.teamInvitation {
    align-items: center;
    background-color: var(--light-grey);
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 3px;
}

.inviteContent {
    
    width: 100%;
}

.teamInvitation p {
    margin: 0;
}

.invite-image {
    width: 50px;
    height: 50px;
    margin-right: 1em;
    object-fit: cover;    
    border-radius: 50%;
}

.invite-buttons {
    padding-top: 1em;
    justify-content: space-around;
}


