
.calendar-container {
    margin-top: 36.8px;
}

@media (min-width: 550px) {
    .calendar-container {
        margin-top: 54px;
    }
}


/* MATCH RESULTS */

.scoreText-container {
    width : 100%;
    display : flex;
    justify-content : space-between;
}

.scoreMainText {
    font-weight: 700;
}

.scoreInfoText {
    font-size: 1rem;
    width: 160px;
}

.ball-image {
    width : 25px;
    height: 25px;
    margin: 0 auto;
    margin-top: .5em;
}


